<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<body>
<div class="container" style="text-align: center;">
    <h2> 데이터베이스 테스트</h2>
    <tr>
        <h4>Q1. Inner Join과 Outer Join의 차이점에 대해 설명해보세요.</h4>
        <textarea type="text" id="q1" name="q1" style="width: 500px; height: 150px; resize:none;"></textarea>
    </tr>
    <tr>
        <h4>Q2. RDB와 NoSQL 각각의 특징과 차이점에 대해 설명해보세요.</h4>
        <textarea type="text" id="q2" name="q2" style="width: 500px; height: 150px; resize:none;"></textarea>
    </tr>
    <tr>
        <h4>Q3. 데이터베이스 인덱스에 대해 아는대로 설명해보세요.</h4>
        <textarea type="text" id="q3" name="q3" style="width: 500px; height: 150px; resize:none;"></textarea>
    </tr>
</div>
</body>
</html>