<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<body>
<div class="container" style="text-align: center;">
    <h2> 자바 테스트</h2>
    <table>
        <tr>
            <h4>Q1. 자바에서 생성자를 사용하는 이유는 무엇입니까?</h4>
            <textarea type="text" id="q1" name="q1" style="width: 500px; height: 150px; resize:none;"></textarea>
        </tr>
        <tr>
            <h4>Q2. 자바의 접근 제어자에 대해 아는대로 설명해보세요.</h4>
            <textarea type="text" id="q2" name="q2" style="width: 500px; height: 150px; resize:none;"></textarea>
        </tr>
        <tr>
            <h4>Q3. String, StringBuffer, StringBuilder 클래스에 대해 아는대로 설명해보세요.</h4>
            <textarea type="text" id="q3" name="q3" style="width: 500px; height: 150px; resize:none;"></textarea>
        </tr>
    </table>
</div>
</body>
</html>