<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<body>
<div class="container" style="text-align: center;">
    <h2> 네트워크 테스트</h2>
    <table>
        <tr>
            <h4>Q1. HTTP와 HTTPS의 차이점, HTTPS의 동작 원리에 대해 설명해보세요.</h4>
            <textarea type="text" id="q1" name="q1" style="width: 500px; height: 150px; resize:none;"></textarea>
        </tr>
        <tr>
            <h4>Q2. HTTP의 상태 코드에 대해 아는대로 설명해보세요.</h4>
            <textarea type="text" id="q2" name="q2" style="width: 500px; height: 150px; resize:none;"></textarea>
        </tr>
        <tr>
            <h4>Q3. TCP와 UDP의 차이점에 대해 설명해보세요.</h4>
            <textarea type="text" id="q3" name="q3" style="width: 500px; height: 150px; resize:none;"></textarea>
        </tr>
    </table>
</div>
</body>
</html>