<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<body>
<div class="container" style="text-align: center;">
    <h2> 스프링 테스트</h2>
    <table>
        <tr>
            <h4>Q1. 스프링의 IoC/DI에 대해 설명해보세요.</h4>
            <textarea type="text" id="q1" name="q1" style="width: 500px; height: 150px; resize:none;"></textarea>
        </tr>
        <tr>
            <h4>Q2. 스프링 AOP란 무엇이고, AOP가 왜 필요한지 설명해보세요.</h4>
            <textarea type="text" id="q2" name="q2" style="width: 500px; height: 150px; resize:none;"></textarea>
        </tr>
        <tr>
            <h4>Q3. 스프링 Dispatcher Servlet의 동작 원리에 대해 설명해보세요.</h4>
            <textarea type="text" id="q3" name="q3" style="width: 500px; height: 150px; resize:none;"></textarea>
        </tr>
    </table>
</div>
</body>
</html>